<footer class="gh-foot">
  <div class="gh-container">
    <p class="gh-foot-title">{{@site.title}}</p>
    <div class="gh-foot-menu">
      {{navigation}}
    </div>
    <p class="gh-foot-copy">&copy; 2020 Stephen Puiszis</p>
  </div>
</footer>
