/* Global Footer
/* ---------------------------------------------------------- */

.gh-foot {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 8vmin 4vmin;
    background-color: var(--color-black);
    color: var(--color-white);
    border-top: 1vmin var(--color-grey);
}

.gh-foot a {
    color: inherit;
}

.gh-foot p {
    color: inherit;
    font-size: var(--footer-font-lg);
}

.gh-foot-title {
    margin-bottom: var(--footer-spacing);
}

.gh-foot-copy {
    margin-top: var(--footer-spacing);
}

.gh-foot-menu {
    display: flex;
    justify-content: start;
}

.gh-foot-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: var(--footer-font-lg);
}

.gh-foot-menu .nav li {
    margin: 0 1.5vmin;
    padding: 0;
}

.gh-foot-menu .nav li:first-child {
    margin-left: 0;
}

.gh-foot-menu .nav a {
    display: inline-block;
    padding: 3px 0;
    text-decoration: none;
    box-shadow: 0 -1px 0 0 currentcolor inset;
}


@media (max-width: 700px) {
    .gh-foot-menu .nav {
        font-size: var(--footer-font-md);
    }

    .gh-foot p {
        font-size: var(--footer-font-md);
    }
}
